{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1> {{ id }} {{ title }}</h1>
    <p>{{ content }}</p>
    <p><img alt="" src="{{ image }}"></p>
    <p> Auteur: {{ author }}</p>

</div>
{% endblock %}
